<div>
    <h2>Base de datos</h2>
    <p>Diseñe una base de datos tomando en cuenta los requerimientos establecidos para el sistema, dentro de los mismo se destaca que el sistema debe de gestionarse de forma manual alrededor de la entidad de grupos los cuales tienen asignados sus horarios que definen los días de clases de cada grupo. Cuando un grupo tiene asignadas sus clases los prefectos ya pueden realizar la tarea de tomar la asistencia sobre dichas clases y entonces se almacenan los registros de las asistencias en la entidad asistencias de donde se obtienen los reportes.</p>
</div>
<div class="base-datos">
    <button id="btnclick" type="button" class="btn btn-primary">
        Diagrama
    </button>
    <div class="modal fade" id="imgModal">
        <div class="modal-dialog modal-lg" id="app-modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Diagrama Relacional</h3>
                    <button type="button" class="close" id="HidebtnModalTop" data-dismiss="modal">
                        <i class="bi bi-x-lg"></i>
                    </button>

                </div>
                <div class="modal-body" id="imgModalBD">
                    <a title="Ver imagen" href="~/imagenes/der.jpg" target="_blank" ><img src="/imagenes/der.jpg" /></a>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="HidebtnModal" class="btn btn-primary">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
