<div class="text-lef text-white" style="padding-top: 6rem">
    <h1 class="e-titulo">Estudios <i class="bi bi-journal-code"></i></h1>
</div>
<div class="lista-estudios">
    <div class="contenido" id="list-item">
        <div class="inner1">
            <div id="list-title">
                Maestría en Sistemas Computacionales
            </div>
            <br />
            <div id="list-text">
                LGAC – Desarrollo de sistemas inteligentes
            </div>
        </div>
        <div class="inner2" id="list-institute">Tecnológico Nacional de México campus Acapulco</div>
        <div class="inner3" id="list-date">Agosto 2020 - Julio 2022</div>
    </div>
    <div class="contenido" id="list-item">
        <div class="inner1">
            <div id="list-title">
                Ingeniería en Sistemas Computacionales
            </div>
            <br />
            <div id="list-text">
                LGAC – Tecnologias inteligentes de redes de datos
            </div>
        </div>
        <div class="inner2" id="list-institute">Tecnológico Nacional de México campus Acapulco</div>
        <div class="inner3" id="list-date">Agosto 2012 - Julio 2017</div>
    </div>
    <div class="row" id="list-item" style="padding-top: 1em">
        <div class="col-4 " id="list-title-curso"><h2>Cursos <i class="bi bi-rocket-takeoff"></i></h2></div>
    </div>
    <div class="contenido" id="list-item">
        <div class="inner1">
            <div id="list-title">
                <a href="https://www.udemy.com/certificate/UC-2320d1a7-e02d-4416-8a49-3a11fd889888/" target="_blank">GIT+GitHub <i class="bi bi-box-arrow-up-right"></i></a>
            </div>
        </div>
        <div class="inner2" id="list-institute">Udemy</div>
        <div class="inner3" id="list-date">Junio 2022</div>
    </div>
    <div class="contenido" id="list-item">
        <div class="inner1">
            <div id="list-title">
                <a href="https://www.udemy.com/certificate/UC-f2c48175-676e-45dc-b50f-ffe94dbba641/" target="_blank">Diseño de Bases de Datos Relacionales <i class="bi bi-box-arrow-up-right"></i></a>
            </div>
        </div>
        <div class="inner2" id="list-institute">Udemy</div>
        <div class="inner3" id="list-date">Octubre 2022</div>
    </div>
    

</div>

