<div style="padding-top: 1em">
    <h2>Página Web</h2>
    <p>Desarrolle la página web utilizando <b>React</b>, la página web tiene dos funciones principales, la primera es poder administrar los catálogos como carreras, materias, profesores, grupos, horarios y prefectos generando CRUDs para cada uno, la segunda funcionalidad es poder generar reportes en formato CSV sobre las asistencias registradas.</p>
</div>
<div class="modal-pg">
    <button id="btnclickPG" type="button" class="btn btn-primary">
        Página Web
    </button>
    <div class="modal fade" id="imgModalPG">
        <div class="modal-dialog modal-lg" id="app-modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Página WEB</h3>
                    <button type="button" class="close" id="HidebtnModalTopPG" data-dismiss="modal">
                        <i class="bi bi-x-lg"></i>
                    </button>

                </div>
                <div class="modal-body" id="imgModalPG">
                    <div class="row">
                        <h4>Inicio de sesión</h4>
                        <img src="/imagenes/pagina/1.jpg" />
                    </div>
                    <div class="row">
                        <h4>Catalogos</h4>
                        <img src="/imagenes/pagina/2.jpg" />
                    </div>
                    <div class="row">
                        <h4>Formulario del catalogo Grupo</h4>
                        <img src="/imagenes/pagina/3.jpg" />
                    </div>
                    <div class="row">
                        <h4>Segmentacion de los registros para generar reportes</h4>
                        <img src="/imagenes/pagina/4.jpg" />
                    </div>
                    <div class="row">
                        <h4>Reporte CSV</h4>
                        <img src="/imagenes/pagina/5.jpg" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="HidebtnModalPG" class="btn btn-primary">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>