<div class="div-fondo-nombre">
    <div class="text-center">
        <img title="Tengo 28 años" id="foto" src="~/imagenes/eduardo.jpg" alt="Eduardo" />
        <div class="div-blur-nombre">
            <h1 class="display-4">Eduardo Rodriguez  Rayo</h1>
            <h2>Desarrollador</h2>
            <i class="bi bi-laptop"></i>
        </div>
    </div>
</div>
<div class="sobre-mi">
    <div class="seccion-bienvenida">
        <h1>Sobre mí</h1>
        <br />
        <p>
            Soy una persona proactiva y con muchas ganas de desenvolverme como desarrollador, mi carrera profesional esta comienza, soy recién egresado como maestro en sistemas computacionales. Tengo experiencia en el desarrollo de software en proyectos escolares y me gusta estar en constante aprendizaje.
        </p>
    </div>
    <div class="ver-cv">
        <a class="btn btn-primary" href="/Recursos/ERR-CV.pdf" target="_blank">Ver Curriculum</a>
    </div>
</div>
