<div class="card-carousel">
    <h1>Skills</h1>
    <div class="skills-carousel">
        <div class="div-skills">
            <img src="~/imagenes/html.png"/>
        </div>
        <div class="div-skills">
            <img src="~/imagenes/css.png" />
        </div>
        <div class="div-skills">
            <img src="~/imagenes/js.png" />
        </div>
        <div class="div-skills">
            <img src="~/imagenes/react.png" />
        </div>
        <div class="div-skills">
            <img src="~/imagenes/java.png" />
        </div>
        <div class="div-skills">
            <img src="~/imagenes/c-sharp.png" />
        </div>
        <div class="div-skills">
            <img src="~/imagenes/asp-core.png" />
        </div>
        <div class="div-skills">
            <img src="~/imagenes/python.png" />
        </div>
        <div class="div-skills">
            <img src="~/imagenes/flask.png" />
        </div>
        <div class="div-skills">
            <img src="~/imagenes/sql-alchemy.png" />
        </div>
        <div class="div-skills">
            <img src="~/imagenes/sql-server.png" />
        </div>
    </div>
</div>



